.AppBar {
  background-color: var(--primary-color); /* Green background color */
}

.AppBar a {
  color: inherit;
  text-decoration: none;
  margin-right: 16px;
}

.AppBar button {
  color: inherit;
  margin-left: 12px;
}

/* Additional styles as needed */
