.nav-link {
    color: #fff; /* Default text color */
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; /* Smooth transition for color and background-color */
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: #17a2b8; /* Text color on hover */
    background-color: #343a40; /* Background color on hover */
  }
  
  .nav-link.active {
    color: #fff; /* Text color when active */
    background-color: #17a2b8; /* Background color when active */
  }