.eco-points-container {
    display: flex;
    padding: 20px;
    background-color: #e9f5e9;
    margin-top: 20px;
}

.points-summary, .tasks-rewards {
    background-color: #f3fff3;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.points-summary {
    flex: 1;
}

.tasks-rewards {
    flex: 2;
}

h1 {
    font-size: 24px;
}

.eco {
    color: #27ae60;
}

.points-total {
    font-size: 48px;
    display: flex;
    align-items: center;
}

.coin-icon {
    width: 48px;
    height: 48px;
    margin-left: 10px;
}

.small-coin-icon {
    width: 24px;
    height: 24px;
    margin-left: 5px;
     vertical-align: middle;
}

hr {
    border: 0.5px solid #27ae60;
}

.activity-list {
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
}

.activity-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.points {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.date {
    font-size: 12px;
    color: #888;
}

.tabs {
    display: flex;
    border-bottom: 1px solid #27ae60;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.tab.active {
    font-weight: bold;
    border-bottom: 2px solid #27ae60;
}

.tasks-list {
    margin-top: 20px;
}

.task-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    text-align: left;
}

.task-icon {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.task-title {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    flex-grow: 1;
}

.task-reward {
    font-size: 14px;
    color: #888;
}

.claim-button {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    width: 75px;
    text-align: center;
    transition: transform 0.1s ease;
}

.claim-button:hover:not(.claimed) {
    transform: scale(1.1);
}

.claim-button.claimed {
    background-color: #ccc;
    cursor: not-allowed;
}

.rewards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.reward-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    background-color: #f3fff3;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.reward-item:hover {
    transform: scale(1.1); 
}

.reward-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.reward-points {
    font-size: 16px;
    font-weight: bold;
    color: #27ae60;
}